<div
  tuiCardMedium
  tuiSurface="elevated"
  class="bg-white border border-primary rounded-lg drop-shadow-lg flex flex-col gap-2 px-4 py-6 w-full cursor-move"
>
  <div class="flex flex-col gap-1">
    <div class="flex items-center justify-between">
      <div class="flex gap-2 items-center">
        <tui-checkbox
          *ngIf="isSelectable"
          size="l"
          [(ngModel)]="isSelected"
          (ngModelChange)="toggleChecked()"
        />
        <p
          tuiSubtitle
          class="tui-text_body-l min-w-full font-bold text-primary"
        >
          <a
            class="h-full w-full"
            [routerLink]="
              (isLoading$ | ngrxPush) ? [] : ['candidate', candidate?.id || '']
            "
            >{{ (isLoading$ | ngrxPush) ? '' : candidate?.name || '' }}</a
          >
        </p>
      </div>
      <tui-hosted-dropdown
        tuiDropdownAlign="right"
        [content]="dropdown"
        [sided]="true"
        [(open)]="open"
      >
        <tui-svg
          class="text-gray-300 hover:text-gray-500 cursor-pointer"
          src="tuiIconChevronRight"
          [tuiHint]="moveToTooltipTpl"
        />
        <ng-template #moveToTooltipTpl><label>Move to</label></ng-template>
      </tui-hosted-dropdown>
      <ng-template #dropdown let-close="close">
        <tui-data-list>
          <tui-opt-group>
            <button
              *ngFor="let stage of connectedList"
              tuiOption
              (click)="moveTo(stage.id)"
            >
              {{ (isLoading$ | ngrxPush) ? '' : stage.name || '' }}
            </button>
          </tui-opt-group>
        </tui-data-list>
      </ng-template>
    </div>
    <p class="tui-text_body-s2 text-gray-500">
      {{ (isLoading$ | ngrxPush) ? '' : candidate?.position || '' }}
    </p>
    <p class="tui-text_body-s leading-relaxed">
      {{ (isLoading$ | ngrxPush) ? '' : candidate?.notes || '' }}
    </p>
  </div>
  <div
    tuiCardMedium
    tuiSurface="elevated"
    class="bg-gray-100 rounded flex flex-col py-3 px-6"
  >
    <p>
      <tui-svg src="tuiIconMail" class="mr-1 text-gray-300" />
      {{ (isLoading$ | ngrxPush) ? '' : candidate?.email || '' }}
    </p>
    <p>
      <tui-svg src="tuiIconPhone" class="mr-1 text-gray-300" />{{
        (isLoading$ | ngrxPush) ? '' : candidate?.phone || ''
      }}
    </p>
  </div>
  <div class="flex items-center justify-between mt-2">
    <tui-badge
      status="custom"
      [value]="
        (isLoading$ | ngrxPush)
          ? ''
          : (candidate?.createdDate | date : 'mediumDate' || '')
      "
      class="tui-space_horizontal-2 tui-space_vertical-2 tui-text_body-s2 m-0"
    ></tui-badge>
    <span class="underline">{{
      (isLoading$ | ngrxPush) ? '' : candidate?.interviewer || ''
    }}</span>
  </div>
</div>
