<div
  class="flex flex-col flex-grow items-start justify-center bg-gray-200 h-full p-2 rounded"
>
  <h2 class="tui-text_body-l2 font-semibold mb-2 text-gray-500">
    {{ column.name }}
  </h2>
  <div
    cdkDropList
    [id]="column.id.toString()"
    [cdkDropListData]="list"
    [cdkDropListConnectedTo]="connectedIds"
    (cdkDropListDropped)="dropped($event)"
    class="flex flex-col gap-2 w-full min-h-8"
  >
    @for (item of list; track item) {
    <div cdkDrag (cdkDragStarted)="dragStarted($event)">
      <app-candidate-card [candidate]="item" [connectedList]="connectedList" />
      <span
        *cdkDragPlaceholder
        class="bg-accent-light border border-primary border-dashed transition min-h-32 rounded-lg"
      ></span>
      @if(selectedItemsCount > 1){
      <span *cdkDragPreview>{{ selectedItemsCount + ' selected items' }}</span>
      }
    </div>
    }
  </div>
  <button
    appearance="flat"
    tuiButton
    type="button"
    class="tui-space_right-3 tui-space_bottom-3 w-full border border-primary border-dashed rounded-lg h-10 mt-4 hover:bg-accent-light transition-colors"
  >
    <a
      class="w-full h-full flex items-center justify-center"
      [routerLink]="'candidate/create'"
      [queryParams]="{ stageId: column.id }"
    >
      Add a card
    </a>
  </button>
</div>
